.Product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 0 30px 0;
    text-align: center;
}

.Product div {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Product div img {
    width: 50%;
}

.Product h2 {
    font-size: 25px;
}

.Product h3 {
    margin: 10px 10px 20px 10px;
    text-align: center;
    font-size: 30px;
    color: #FF8126;
    text-decoration: underline;
}

.Product button {
    margin: 0 0 20px 0;
    border: 1px solid #FF8126;
    background-color: white;
    color: #FF8126;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.Product button:hover {
    background-color: #FF8126;
    color: white;
    cursor: pointer;
}
